target/

##Eclipse
.metadata
.settings/

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

##Intellij IDEA
.idea
.settings
/eu.openminted.uc-tdm-socialsciences.iml
##Generic
/target/